# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env 
server/books/
assets/
server/utils/virtual_venv/
server/utils/Release-24.08.0-0/
server/*.traineddata
server/testing/
nul
structure.txt
server/books 
structure.txt 
git 
"*.code-workspace" 
Readme.txt 
workspace.code-workspace 
Projects-and-experiments-3.code-workspace 
.gitignoregit 
*.lnk 
stats.html
